<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutlbl -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="wr">
  <div class="cnt">
    <div class="clse"></div>
    <div class="bnnr"></div>
    <div class="frms">
      <form id="crd"></form>
      <form id="psa-pl"></form>
      <form id="mpsa"></form>
      <form id="mvsa"></form>
    </div>
    <div class="lbls">
      <div class="lbl" data-opt="crd"></div>
      <div class="lbl" data-opt="psa-pl"></div>
      <div class="lbl" data-opt="mpsa"></div>
      <div class="lbl" data-opt="mvsa"></div>
    </div>
    <div class="bdge"></div>
  </div>
</div>
</body>
</html>
