html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: aliceblue;
}

*, *:before, *:after {
    box-sizing: border-box;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

span {
    display: block;
    flex-shrink: 0;
}

span {
    display: block;
}

input {
    border: none;
    outline: none;
    height: 1.2em;
    width: 100%;
    background-color: transparent;
}

.wr {
}

.cnt {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 640px) {
    .cnt {
    }
}

.cnt .bnnr {
}

.cnt .frms {
    display: flex;
}

.cnt .lbls {
}

.cnt .bdge {
}

