<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<form>
  <span id="c-type"></span>
  <div class="in">
    <div class="num">
      <span>
        <input value="4242 4242 4242 4242" inputmode="numeric" id="c-num" spellcheck="false" autocomplete="cc-number"
               placeholder="Card Number">
      </span>
    </div>
    <div class="meta">
      <span>
        <input value="12 / 32" inputmode="numeric" id="c-exp" spellcheck="false" autocomplete="cc-exp"
               placeholder="MM / YY"></span>
      <span>
        <input value="123" inputmode="numeric" id="c-cvc" autocomplete="cc-csc" spellcheck="false" placeholder="CVC">
      </span>
    </div>
  </div>
</form>
</body>
</html>
