html, body {
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

span {
    display: block;
    flex-shrink: 0;
}

span#c-type {
    height: 1em;
    width: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

span {
    display: block;
}

input {
    border: none;
    outline: none;
    height: 1.2em;
    width: 100%;
    background-color: transparent;
}

.in {
    margin-left: .4em;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 1.65fr;
}

.in .num span {
    padding-right: .8em;
}

.in .meta {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.in .meta span {
    flex-shrink: 1;
}

.in .meta span:last-of-type input {
    padding-left: .6em;
}
